#container {
	width: 100%;
	height: auto;
}

	#header {
		width: 100%;
		height: 3.125em;
		background-color: purple;
		position: relative;
		display: block;
	}

	#top-body {
		width: 100%;
		min-height: 25em;
		max-height: auto;
		background-color: orange;
		position: relative;
		display: block;
		margin: .625em .625em .625em .625em;
		background-image: url(/Users/Bladmirror/Desktop/git_repo/sprout/friends.jpg); min-height: 25em; max-height: auto; width: 100%;
	}

	#middle-body {
		width: 100%;
		min-height: 31.250em;
		max-height: auto;
		position: relative;
		display: block;
		left: 6%;
		padding: 1.250em 1.250em 1.250em 1.250em;
	}

	#last-body {
		width: 100%;
		min-height: 31.250em;
		max-height: auto;
		position: relative;
		display: block;
		left: 6%;
		padding: 1.250em 1.250em 1.250em 1.250em;
	}

	#contact-us {
		width: 100%;
		height: 25em;
		background-color: blue;
		position: relative;
		display: block;
	}

		.city-container img {
			width: 19.625em;
			height: 21.5em;
			position: relative;
			display: block;
			margin: 0 auto;
		}
		.google-font {
			font-family: 'Raleway', sans-serif;
			text-align: center;
		}

		.city-container {
			width: 28%;
			height: 25em;
			display: inline-block;
			position: relative;
			vertical-align: center;
			margin: 0 auto 0 .625em;
		}
