<!DOCTYPE html>
<html lang="en" media="screen">
	<head>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <title> Sprout: Create Event </title>


		 <!--CSS-->
		<!--STYLESHEET CSS-->
		<link rel="stylesheet" href="/assets/user.scss.css">
		<!--GOOGLE FONTS CSS-->
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">


		<!--CSS BOOTSTRAP-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--CSS W3 SCHOOLS-->
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<!--GOOGLE FONTS-->
		<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

		<!--API KEYS-->
		<!--JQUERY LIBRARY CALL-->
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	</head>

	<body>
		<!--FORM TO CREATE EVENT-->
		<div class="w3-card-12 w3-green w3-hover-shadow w3-center">
			<h1 class="google-font">Create Event</h1>
			<form class="form-horizontal" action='/add_event_db' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p class="google-font"> Event Title: </p>
				<input type='text' name='event_title'/>
				<p class="google-font"> Location: </p>
				<input type='text' name='event_location'/>
				<p class="google-font"> Start Time: </p> 
				<input type='date' name='event_start_date'/>
				<input type='time' step="1800" name='event_start_time'> 
				<p class="google-font"> End Time: </p> 
				<input type='date' name='event_end_date'/>
				<input type='time' step="1800" name='event_end_time'> 
				<p class="google-font"> Event Image: </p> 
				<input type='text' name='event_image' />
				<p class="google-font"> Event Description: </p> 
				<input type='text' name='event_description' />
				<br><br>
				<input class="btn btn-primary" type='submit' value='Create Event' />
			</form>
			<br>
			<!--CREATE EVENT BACK BUTTON-->
			<form class="form-horizontal" action='/'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input class="btn btn-primary" type='submit' value='Back' />
			</form>
		</div>
	</body>
</html>
