<% if session[:registration_error_status] == true %>
	<div id='error_div'>
		<h2 class="jumbotron01">Registration Errors</h2>
		<% for i in 0..9 do %>
			<p class="lead"> <%= @errors[i] %> </p>
		<% end %>
	</div>
<% end %>