// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*  {
	margin: 0em;
	padding: 0em;
}

#create_event {
	width: 40%;
	height: auto;
	margin: 10px 60px 0px 60px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	overflow: auto;

	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	   -o-transition: border .2s ease-in-out;
	      transition: border .2s ease-in-out;
}

.jumbotron_header {
	color: inherit;
}
.jumbotron_header h1 {
	color: inherit;
	font-size: 63px;
}

ul, li {
	overflow: auto;
}

#map {
	width: 400px;
	height: auto;
}

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}